BADGER_ENC_KEY=
JWT_SIGN_KEY=
MINISTRY_ENDPOINT=127.0.0.1:22
MINISTRY_ENDPOINT_USER=_kolyan_
EMBASSY_ETC_DIR=/etc/embassy-api
EMBASSY_TOKENS_FILE=/etc/embassy-api/tokens.lst
EMBASSY_SSH_KEY_FILE=/etc/embassy-api/id_ed25519
EMBASSY_BADGER_DB=/var/lib/embassy-api/db
EMBASSY_LISTEN_HTTP=0.0.0.0:8880
EMBASSY_LISTEN_HTTPS=0.0.0.0:8443